<section class="all-profiles">
    <div class="profile-row">
        <% @profiles.each do |profile| %>
        <div class="profile">
            <a href="/profiles/<%=profile.id%>">
                <div class="profile-image">
                    <img class="profile-image" src="<%=profile.profile_picture%>" alt="Profile Picture">
                </div>
                <div class="profile-labels">
                    <p><%= profile.first_name %> <%= profile.surname%> </p>
                    <p><%= profile.organisation%></p>
                </div>
            </a>
        </div>
        <% end %>
    </div>
</section>


