<form action="/profiles/<%=@profile.id%>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    <label for="">First Name:</label>
    <input type="text" name="first_name" value="<%=@profile.first_name%>">
    <label for="">Surname: </label>
    <input type="text" name="surname" value="<%=@profile.surname%>">
    <label for="">Organisation: </label>
    <input type="text" name="organisation" value="<%=@profile.organisation%>">
    <label for="">Email: </label>
    <input type="text" name="email" value="<%=@profile.email%>">
    <label for="">Phone: </label>
    <input type="text" name="phone" value="<%=@profile.phone%>">
    <label for="">Position: </label>
    <input type="text" name="position" value="<%=@profile.position%>">
    <label for="">Industry: </label>
    <input type="text" name="industry" value="<%=@profile.industry%>">
    <label for="">Company Address: </label>
    <input type="text" name="company_address" value="<%=@profile.company_address%>">
    <label for="">Bio: </label>
    <input type="text" name="bio" value="<%=@profile.bio%>">
    <label for="">Organisation Bio:</label>
    <input type="text" name="organisation_bio" value="<%=@profile.organisation_bio%>">
    <label for="">Profile Picture: </label>
    <input type="file" name="profile_picture" value="<%=@profile.profile_picture%>">
    <label for="">Logo: </label>
    <input type="file" name="logo" value="<%=@profile.logo%>">



    <button>Update</button>
    
</form>
<%# Updating logo and profile will sort out after load %>


