<img src="/media/headshot.png" alt="Profile Image">
<img src="<%=@profile.logo%>" alt="">
<h2><%=@profile.first_name%> <%=@profile.surname%></h2>
<h3><%=@profile.organisation%></h3>

<p><%=@profile.email%></p>
<p><%=@profile.phone%></p>
<p><%=@profile.position%></p>
<p><%=@profile.industry%></p>
<p><%=@profile.company_address%></p>
<p><%=@profile.bio%></p>
<p><%=@profile.organisation_bio%></p>

<a href="/profiles/<%params[@profile.id]%>/edit">Update</a>