<div class="profile-container">
    <div>
        <img class="profile-image-view" src="<%=@offer.image.url%>" alt="Offer Image">
    </div>

    <div class="profile-information">
        <h2><%=@offer.offer_title%></h2>

    <p><span class="bold">Offer:</span> <%=@offer.offer%></p>
    <p><span class="bold">Contact Name:</span> <%=@offer.your_name%></p>
    <p><span class="bold">Email:</span> <%=@offer.email%></p>
    <p><span class="bold">Phone: </span><%=@offer.phone%></p>

    <% if current_user.id == @offer.profile_id%>
        <a href="/member-offers/<%=@offer.id%>/edit">Update</a>
    <% end %>
    </div>

</div>